section#main-page-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  height: 500px;
}

img#main-page-logo {
  width:200px;
}

ul.link-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content:flex-start;
}

ul.link-list a {
  color:#11144e;
  overflow: hidden;
  background:linear-gradient(to right,#c9f3f0,#c9f3f0 50%, #11144e 50%);
  background-clip:text;
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  background-size:200% 100%;
  background-position: 100%;
  transition:background-position 275ms ease;
  width:110%;
}

ul.link-list a:hover {
  background-position: 0 100%;
  cursor: pointer;
}

ul.link-list li {
  height:80px;
}

h1.main-page-link {
  font-style:italic;
  text-align:left;
  margin:0;
}
